# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), January 18, 2019**

In [1]:
using DataFrames # load package

## Getting basic information about a data frame

Let's start by creating a `DataFrame` object, `x`, so that we can learn how to get information on that data frame.

In [2]:
x = DataFrame(A = [1, 2], B = [1.0, missing], C = ["a", "b"])

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

The standard `size` function works to get dimensions of the `DataFrame`,

In [3]:
size(x), size(x, 1), size(x, 2)

((2, 3), 2, 3)

as well as `nrow` and `ncol` from R (`length` in the past gave the number of columns but now is deprecated).

In [4]:
nrow(x), ncol(x)

(2, 3)

`describe` gives basic summary statistics of data in your `DataFrame` (check out the help of `describe` for information how to customize shown statistics).

In [5]:
describe(x, stats=:all)

3×13 DataFrame. Omitted printing of 5 columns
│ Row │ variable │ mean   │ std      │ min │ q25    │ median │ q75    │ max │
│     │ Symbol   │ Union… │ Union…   │ Any │ Union… │ Union… │ Union… │ Any │
├─────┼──────────┼────────┼──────────┼─────┼────────┼────────┼────────┼─────┤
│ 1   │ A        │ 1.5    │ 0.707107 │ 1   │ 1.25   │ 1.5    │ 1.75   │ 2   │
│ 2   │ B        │ 1.0    │ NaN      │ 1.0 │ 1.0    │ 1.0    │ 1.0    │ 1.0 │
│ 3   │ C        │        │          │ a   │        │        │        │ b   │

`names` will return the names of all columns,

In [6]:
names(x)

3-element Array{Symbol,1}:
 :A
 :B
 :C

and `eltypes` returns their types.

In [7]:
eltypes(x)

3-element Array{Type,1}:
 Int64
 Union{Missing, Float64}
 String

Here we create some large `DataFrame`

In [8]:
y = DataFrame(rand(1:10, 1000, 10));

and then we can use `first` to peek into its first few rows

In [9]:
first(y, 5)

5×10 DataFrame. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 5     │ 9     │ 9     │ 7     │ 4     │ 5     │ 2     │ 3     │ 10    │
│ 2   │ 4     │ 8     │ 10    │ 7     │ 9     │ 2     │ 3     │ 8     │ 5     │
│ 3   │ 5     │ 4     │ 6     │ 10    │ 9     │ 6     │ 1     │ 4     │ 5     │
│ 4   │ 5     │ 3     │ 10    │ 8     │ 7     │ 6     │ 7     │ 1     │ 6     │
│ 5   │ 7     │ 1     │ 9     │ 8     │ 3     │ 8     │ 10    │ 1     │ 5     │

and `last` to see its bottom rows.

In [10]:
last(y, 3)

3×10 DataFrame. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 2     │ 1     │ 3     │ 10    │ 8     │ 9     │ 1     │ 6     │ 9     │
│ 2   │ 3     │ 8     │ 8     │ 7     │ 4     │ 7     │ 6     │ 4     │ 9     │
│ 3   │ 6     │ 2     │ 5     │ 7     │ 4     │ 7     │ 5     │ 1     │ 5     │

Using `first` and `last` without number of rows will return a first/last `DataFrameRow` in the `DataFrame`

In [11]:
first(y)

DataFrameRow. Omitted printing of 1 columns
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 5     │ 9     │ 9     │ 7     │ 4     │ 5     │ 2     │ 3     │ 10    │

In [12]:
last(y)

DataFrameRow. Omitted printing of 1 columns
│ Row  │ x1    │ x2    │ x3    │ x4    │ x5    │ x6    │ x7    │ x8    │ x9    │
│      │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├──────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┼───────┤
│ 1000 │ 6     │ 2     │ 5     │ 7     │ 4     │ 7     │ 5     │ 1     │ 5     │

### Most elementary get and set operations

Given the `DataFrame`, `x`, here are four ways to grab one of its columns as a `Vector`.

*Note that since Julia 1.0 you can access column name using `.` operator.*

In [13]:
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ missing  │ b      │

In [14]:
x[1], x[:A], x.A # all get the vector stored in our DataFrame

([1, 2], [1, 2], [1, 2])

In [15]:
x[:, 1] # note that this creates a copy

2-element Array{Int64,1}:
 1
 2

In [16]:
x[:, 1] === x[:, 1]

false

To grab one row as a `DataFrame`, we can index as follows.

In [17]:
x[1:1, :]

1×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

In [18]:
x[1, :] # this will produces a DataFrameRow

DataFrameRow
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │

We can grab a single cell or element with the same syntax to grab an element of an array.

In [19]:
x[1, 1]

1

or a new `DataFrame` that is a subset of rows and columns

In [20]:
x[1:2, 1:2]

2×2 DataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 1.0      │
│ 2   │ 2     │ missing  │

Assignment can be done in ranges to a scalar,

In [21]:
x[1:2, 1:2] = 1
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 1     │ 1.0      │ b      │

to a vector of length equal to the number of assigned rows,

In [22]:
x[1:2, 1:2] = [1,2]
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 1.0      │ a      │
│ 2   │ 2     │ 2.0      │ b      │

or to another data frame of matching size.

In [23]:
x[1:2, 1:2] = DataFrame([5 6; 7 8])
x

2×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64⍰ │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 5     │ 6.0      │ a      │
│ 2   │ 7     │ 8.0      │ b      │

### Views

You can simply create a view of a `DataFrame` (it is more efficient than creating a materialized selection). Here are the possible return value options.

In [24]:
@view x[1:2, 1]

2-element view(::Array{Int64,1}, 1:2) with eltype Int64:
 5
 7

In [25]:
@view x[1,1]

0-dimensional view(::Array{Int64,1}, 1) with eltype Int64:
5

In [26]:
@view x[1, 1:2] # a DataFrameRow, the same as for x[1, 1:2] without a view

DataFrameRow
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 5     │ 6.0      │

In [27]:
@view x[1:2, 1:2] # a SubDataFrame

2×2 SubDataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64⍰ │
├─────┼───────┼──────────┤
│ 1   │ 5     │ 6.0      │
│ 2   │ 7     │ 8.0      │