# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), April 27, 2019**

In [1]:
using DataFrames # load package

## Split-apply-combine

In [2]:
x = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.669188 │
│ 2   │ 2     │ 2     │ 0.109742 │
│ 3   │ 3     │ 1     │ 0.565507 │
│ 4   │ 4     │ 2     │ 0.371262 │
│ 5   │ 1     │ 1     │ 0.769019 │
│ 6   │ 2     │ 2     │ 0.525894 │
│ 7   │ 3     │ 1     │ 0.839502 │
│ 8   │ 4     │ 2     │ 0.282013 │

In [3]:
gx1 = groupby(x, :id)

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = 1
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.669188 │
│ 2   │ 1     │ 1     │ 0.769019 │
⋮
Last Group (2 rows): id = 4
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.371262 │
│ 2   │ 4     │ 2     │ 0.282013 │

In [4]:
gx2 = groupby(x, [:id, :id2])

GroupedDataFrame with 4 groups based on keys: id, id2
First Group (2 rows): id = 1, id2 = 1
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.669188 │
│ 2   │ 1     │ 1     │ 0.769019 │
⋮
Last Group (2 rows): id = 4, id2 = 2
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.371262 │
│ 2   │ 4     │ 2     │ 0.282013 │

In [5]:
parent(gx2) # get the parent DataFrame

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.669188 │
│ 2   │ 2     │ 2     │ 0.109742 │
│ 3   │ 3     │ 1     │ 0.565507 │
│ 4   │ 4     │ 2     │ 0.371262 │
│ 5   │ 1     │ 1     │ 0.769019 │
│ 6   │ 2     │ 2     │ 0.525894 │
│ 7   │ 3     │ 1     │ 0.839502 │
│ 8   │ 4     │ 2     │ 0.282013 │

In [6]:
vcat(gx2...) # back to the DataFrame, but in a different order of rows than the original

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.669188 │
│ 2   │ 1     │ 1     │ 0.769019 │
│ 3   │ 2     │ 2     │ 0.109742 │
│ 4   │ 2     │ 2     │ 0.525894 │
│ 5   │ 3     │ 1     │ 0.565507 │
│ 6   │ 3     │ 1     │ 0.839502 │
│ 7   │ 4     │ 2     │ 0.371262 │
│ 8   │ 4     │ 2     │ 0.282013 │

In [7]:
DataFrame(gx2) # the same

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.669188 │
│ 2   │ 1     │ 1     │ 0.769019 │
│ 3   │ 2     │ 2     │ 0.109742 │
│ 4   │ 2     │ 2     │ 0.525894 │
│ 5   │ 3     │ 1     │ 0.565507 │
│ 6   │ 3     │ 1     │ 0.839502 │
│ 7   │ 4     │ 2     │ 0.371262 │
│ 8   │ 4     │ 2     │ 0.282013 │

In [8]:
groupvars(gx2) # vector of names of grouping variables

2-element Array{Symbol,1}:
 :id
 :id2

In [9]:
groupindices(gx2) # group indices in parent(gx2)

8-element Array{Union{Missing, Int64},1}:
 1
 2
 3
 4
 1
 2
 3
 4

In [10]:
x = DataFrame(id = [missing, 5, 1, 3, missing], x = 1:5)

5×2 DataFrame
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ 5       │ 2     │
│ 3   │ 1       │ 3     │
│ 4   │ 3       │ 4     │
│ 5   │ missing │ 5     │

In [11]:
groupby(x, :id) # by default groups include mising values and are not sorted

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = missing
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ missing │ 5     │
⋮
Last Group (1 row): id = 3
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 3      │ 4     │

In [12]:
groupby(x, :id, sort=true, skipmissing=true) # but we can change it

GroupedDataFrame with 3 groups based on key: id
First Group (1 row): id = 1
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 1      │ 3     │
⋮
Last Group (1 row): id = 5
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 5      │ 2     │

In [13]:
using Statistics
x = DataFrame(id=rand('a':'d', 100), v=rand(100));
by(x, :id, :v=>mean) # apply a function to each group of a data frame

4×2 DataFrame
│ Row │ id   │ v_mean   │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.422648 │
│ 2   │ 'd'  │ 0.49053  │
│ 3   │ 'c'  │ 0.512698 │
│ 4   │ 'b'  │ 0.476415 │

In [14]:
by(x, :id, :v=>mean, sort=true) # we can sort the output

4×2 DataFrame
│ Row │ id   │ v_mean   │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.422648 │
│ 2   │ 'b'  │ 0.476415 │
│ 3   │ 'c'  │ 0.512698 │
│ 4   │ 'd'  │ 0.49053  │

In [15]:
by(x, :id, res=:v=>mean) # this way we can set a name for a column

4×2 DataFrame
│ Row │ id   │ res      │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.422648 │
│ 2   │ 'd'  │ 0.49053  │
│ 3   │ 'c'  │ 0.512698 │
│ 4   │ 'b'  │ 0.476415 │

In [16]:
by(x, :id, res1=:v=>mean, res2=:v=>sum) # you can have multiple operations

4×3 DataFrame
│ Row │ id   │ res1     │ res2    │
│     │ Char │ Float64  │ Float64 │
├─────┼──────┼──────────┼─────────┤
│ 1   │ 'a'  │ 0.422648 │ 10.5662 │
│ 2   │ 'd'  │ 0.49053  │ 12.2632 │
│ 3   │ 'c'  │ 0.512698 │ 14.3555 │
│ 4   │ 'b'  │ 0.476415 │ 10.4811 │

In [17]:
x = DataFrame(id=rand('a':'d', 100), x1=rand(100), x2=rand(100))
aggregate(x, :id, sum) # apply a function over all columns of a data frame in groups given by id

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 14.607  │ 13.2739 │
│ 2   │ 'b'  │ 13.7696 │ 12.2106 │
│ 3   │ 'd'  │ 14.6563 │ 13.3629 │
│ 4   │ 'c'  │ 8.99698 │ 8.32711 │

In [18]:
aggregate(x, :id, sum, sort=true) # also can be sorted

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 14.607  │ 13.2739 │
│ 2   │ 'b'  │ 13.7696 │ 12.2106 │
│ 3   │ 'c'  │ 8.99698 │ 8.32711 │
│ 4   │ 'd'  │ 14.6563 │ 13.3629 │

A new feature is `mapcols` convinience function

In [19]:
x = DataFrame(rand(3, 5))

3×5 DataFrame
│ Row │ x1        │ x2       │ x3        │ x4       │ x5       │
│     │ Float64   │ Float64  │ Float64   │ Float64  │ Float64  │
├─────┼───────────┼──────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.794226  │ 0.573936 │ 0.0182556 │ 0.970179 │ 0.152322 │
│ 2   │ 0.37604   │ 0.667302 │ 0.0819991 │ 0.785111 │ 0.57178  │
│ 3   │ 0.0236083 │ 0.474579 │ 0.699137  │ 0.653099 │ 0.407289 │

In [20]:
mapcols(mean, x)

1×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5      │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64 │
├─────┼──────────┼──────────┼──────────┼──────────┼─────────┤
│ 1   │ 0.397958 │ 0.571939 │ 0.266464 │ 0.802796 │ 0.37713 │

In [21]:
map(mean, eachcol(x, false)) # map a function over each column and return a vector

5-element Array{Float64,1}:
 0.39795790415870774
 0.5719388527626287
 0.2664640269034721
 0.802796253753856
 0.3771303884586173

In [22]:
foreach(c -> println(c[1], ": ", mean(c[2])), eachcol(x, true)) # an iteration returns a Pair with column name and values

x1: 0.39795790415870774
x2: 0.5719388527626287
x3: 0.2664640269034721
x4: 0.802796253753856
x5: 0.3771303884586173

In [23]:
map(r -> r.x1/r.x2, eachrow(x)) # now the returned value is DataFrameRow which works similarly to a one-row DataFrame

3-element Array{Float64,1}:
 1.3838231125266938
 0.5635224473407595
 0.0497457748145321