# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), August 16, 2019**

In [1]:
using Pkg
Pkg.activate(".")

"d:\\Dev\\Julia\\DataFrames_Tutorial\\Project.toml"

In [2]:
using DataFrames

## Split-apply-combine

In [3]:
x = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.769761 │
│ 2   │ 2     │ 2     │ 0.995803 │
│ 3   │ 3     │ 1     │ 0.183738 │
│ 4   │ 4     │ 2     │ 0.521405 │
│ 5   │ 1     │ 1     │ 0.823801 │
│ 6   │ 2     │ 2     │ 0.145952 │
│ 7   │ 3     │ 1     │ 0.430041 │
│ 8   │ 4     │ 2     │ 0.6081   │

In [4]:
gx1 = groupby(x, :id)

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = 1
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.769761 │
│ 2   │ 1     │ 1     │ 0.823801 │
⋮
Last Group (2 rows): id = 4
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.521405 │
│ 2   │ 4     │ 2     │ 0.6081   │

In [5]:
gx2 = groupby(x, [:id, :id2])

GroupedDataFrame with 4 groups based on keys: id, id2
First Group (2 rows): id = 1, id2 = 1
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.769761 │
│ 2   │ 1     │ 1     │ 0.823801 │
⋮
Last Group (2 rows): id = 4, id2 = 2
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 4     │ 2     │ 0.521405 │
│ 2   │ 4     │ 2     │ 0.6081   │

In [6]:
parent(gx2) # get the parent DataFrame

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.769761 │
│ 2   │ 2     │ 2     │ 0.995803 │
│ 3   │ 3     │ 1     │ 0.183738 │
│ 4   │ 4     │ 2     │ 0.521405 │
│ 5   │ 1     │ 1     │ 0.823801 │
│ 6   │ 2     │ 2     │ 0.145952 │
│ 7   │ 3     │ 1     │ 0.430041 │
│ 8   │ 4     │ 2     │ 0.6081   │

In [7]:
vcat(gx2...) # back to the DataFrame, but in a different order of rows than the original

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.769761 │
│ 2   │ 1     │ 1     │ 0.823801 │
│ 3   │ 2     │ 2     │ 0.995803 │
│ 4   │ 2     │ 2     │ 0.145952 │
│ 5   │ 3     │ 1     │ 0.183738 │
│ 6   │ 3     │ 1     │ 0.430041 │
│ 7   │ 4     │ 2     │ 0.521405 │
│ 8   │ 4     │ 2     │ 0.6081   │

In [8]:
DataFrame(gx2) # the same

8×3 DataFrame
│ Row │ id    │ id2   │ v        │
│     │ Int64 │ Int64 │ Float64  │
├─────┼───────┼───────┼──────────┤
│ 1   │ 1     │ 1     │ 0.769761 │
│ 2   │ 1     │ 1     │ 0.823801 │
│ 3   │ 2     │ 2     │ 0.995803 │
│ 4   │ 2     │ 2     │ 0.145952 │
│ 5   │ 3     │ 1     │ 0.183738 │
│ 6   │ 3     │ 1     │ 0.430041 │
│ 7   │ 4     │ 2     │ 0.521405 │
│ 8   │ 4     │ 2     │ 0.6081   │

In [9]:
groupvars(gx2) # vector of names of grouping variables

2-element Array{Symbol,1}:
 :id
 :id2

In [10]:
groupindices(gx2) # group indices in parent(gx2)

8-element Array{Union{Missing, Int64},1}:
 1
 2
 3
 4
 1
 2
 3
 4

In [11]:
x = DataFrame(id = [missing, 5, 1, 3, missing], x = 1:5)

5×2 DataFrame
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ 5       │ 2     │
│ 3   │ 1       │ 3     │
│ 4   │ 3       │ 4     │
│ 5   │ missing │ 5     │

In [12]:
groupby(x, :id) # by default groups include mising values and are not sorted

GroupedDataFrame with 4 groups based on key: id
First Group (2 rows): id = missing
│ Row │ id      │ x     │
│     │ Int64⍰  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ missing │ 1     │
│ 2   │ missing │ 5     │
⋮
Last Group (1 row): id = 3
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 3      │ 4     │

In [13]:
groupby(x, :id, sort=true, skipmissing=true) # but we can change it

GroupedDataFrame with 3 groups based on key: id
First Group (1 row): id = 1
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 1      │ 3     │
⋮
Last Group (1 row): id = 5
│ Row │ id     │ x     │
│     │ Int64⍰ │ Int64 │
├─────┼────────┼───────┤
│ 1   │ 5      │ 2     │

In [14]:
using Statistics
x = DataFrame(id=rand('a':'d', 100), v=rand(100));
by(x, :id, :v=>mean) # apply a function to each group of a data frame

4×2 DataFrame
│ Row │ id   │ v_mean   │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.479599 │
│ 2   │ 'b'  │ 0.49334  │
│ 3   │ 'c'  │ 0.332933 │
│ 4   │ 'd'  │ 0.540456 │

In [15]:
by(x, :id, :v=>mean, sort=true) # we can sort the output

4×2 DataFrame
│ Row │ id   │ v_mean   │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.479599 │
│ 2   │ 'b'  │ 0.49334  │
│ 3   │ 'c'  │ 0.332933 │
│ 4   │ 'd'  │ 0.540456 │

In [16]:
by(x, :id, res=:v=>mean) # this way we can set a name for a column

4×2 DataFrame
│ Row │ id   │ res      │
│     │ Char │ Float64  │
├─────┼──────┼──────────┤
│ 1   │ 'a'  │ 0.479599 │
│ 2   │ 'b'  │ 0.49334  │
│ 3   │ 'c'  │ 0.332933 │
│ 4   │ 'd'  │ 0.540456 │

In [17]:
by(x, :id, res1=:v=>mean, res2=:v=>sum) # you can have multiple operations

4×3 DataFrame
│ Row │ id   │ res1     │ res2    │
│     │ Char │ Float64  │ Float64 │
├─────┼──────┼──────────┼─────────┤
│ 1   │ 'a'  │ 0.479599 │ 10.0716 │
│ 2   │ 'b'  │ 0.49334  │ 17.2669 │
│ 3   │ 'c'  │ 0.332933 │ 6.9916  │
│ 4   │ 'd'  │ 0.540456 │ 12.4305 │

In [18]:
x = DataFrame(id=rand('a':'d', 100), x1=rand(100), x2=rand(100))
aggregate(x, :id, sum) # apply a function over all columns of a data frame in groups given by id

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'c'  │ 13.6124 │ 12.0201 │
│ 2   │ 'b'  │ 16.9866 │ 15.7279 │
│ 3   │ 'd'  │ 14.9035 │ 11.719  │
│ 4   │ 'a'  │ 8.61909 │ 9.08808 │

In [19]:
aggregate(x, :id, sum, sort=true) # also can be sorted

4×3 DataFrame
│ Row │ id   │ x1_sum  │ x2_sum  │
│     │ Char │ Float64 │ Float64 │
├─────┼──────┼─────────┼─────────┤
│ 1   │ 'a'  │ 8.61909 │ 9.08808 │
│ 2   │ 'b'  │ 16.9866 │ 15.7279 │
│ 3   │ 'c'  │ 13.6124 │ 12.0201 │
│ 4   │ 'd'  │ 14.9035 │ 11.719  │

A new feature is `mapcols` convinience function

In [20]:
x = DataFrame(rand(3, 5))

3×5 DataFrame
│ Row │ x1       │ x2       │ x3       │ x4       │ x5       │
│     │ Float64  │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.866454 │ 0.563247 │ 0.237481 │ 0.51449  │ 0.177154 │
│ 2   │ 0.261381 │ 0.49776  │ 0.20027  │ 0.124694 │ 0.670961 │
│ 3   │ 0.454035 │ 0.859636 │ 0.644986 │ 0.890991 │ 0.326333 │

In [21]:
mapcols(mean, x)

1×5 DataFrame
│ Row │ x1      │ x2       │ x3       │ x4       │ x5       │
│     │ Float64 │ Float64  │ Float64  │ Float64  │ Float64  │
├─────┼─────────┼──────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.52729 │ 0.640214 │ 0.360912 │ 0.510058 │ 0.391482 │

In [22]:
map(mean, eachcol(x, false)) # map a function over each column and return a vector

5-element Array{Float64,1}:
 0.527290199248489
 0.6402144516572263
 0.3609121004250527
 0.5100580048189808
 0.39148240242535187

In [23]:
foreach(c -> println(c[1], ": ", mean(c[2])), eachcol(x, true)) # an iteration returns a Pair with column name and values

x1: 0.527290199248489
x2: 0.6402144516572263
x3: 0.3609121004250527
x4: 0.5100580048189808
x5: 0.39148240242535187

In [24]:
map(r -> r.x1/r.x2, eachrow(x)) # now the returned value is DataFrameRow which works similarly to a one-row DataFrame

3-element Array{Float64,1}:
 1.5383185037363456
 0.5251151656268269
 0.5281715855978556